$header: #633

body
  font-family: Arial,sans-serif

h1, h2, h3
  color: $header

a
  &:visited
    color: #999933
  &:hover
    color: #993333
  &:link
    color: #666633

.email
  unicode-bidi: bidi-override
  direction: rtl

.img-responsive
  margin: 0 auto
